<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <header id="navbar">
        <nav class="navbar-container container">
          <a href="/" class="home-link">
            JIVSAN
          </a>
          <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="navbar-menu" aria-labelledby="navbar-toggle">
            <ul class="navbar-links">
              <li class="navbar-item"><a class="navbar-link" href="/about">Home</a></li>
              <li class="navbar-item"><a class="navbar-link" href="/blog">AboutUs</a></li>
              <li class="navbar-item"><a class="navbar-link" href="/careers">Disease</a></li>
              <li class="navbar-item"><a class="navbar-link" href="/contact">Recommendation</a></li>
              <li class="navbar-item"><a class="navbar-link" href="/contact">Contact</a></li>
              <li class="navbar-item"><a class="navbar-link" id="logout" href="/contact">Logout</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="home_container">
        <div class="content_cover_of_home_container">
          <div class="left_home_content">
            <h1>Best Care For Your Family</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#contact-us" class="button-white banner-button w-button">Book appointment</a>
          </div>
          <div class="right_home_content">
            <img src="../static/img/right_home.png"/>
          </div>
        </div>
      </div>
    <script src="../static/js/home.js"></script>
</body>
</html>
