<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/styletwo.css" />
  </head>
  <body>
    <header id="navbar">
      <div class="navbar-container container">
        <a href="/" class="home-link"> JIVSAN </a>
        <button
          type="button"
          id="navbar-toggle"
          aria-controls="navbar-menu"
          aria-label="Toggle menu"
          aria-expanded="false"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="navbar-menu" aria-labelledby="navbar-toggle">
          <ul class="navbar-links">
            <li class="navbar-item">
              <a class="navbar-link" href="/about">Home</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="/aboutus">AboutUs</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="https://diseases10-1.onrender.com/">Disease</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="https://prediction-rsx1.onrender.com/">Recommendation</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="/contact">Contact</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" id="logout" href="/contact">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="home_container">
      <div class="content_cover_of_home_container">
        <div class="left_home_content">
          <h1>Best Care For Your Family</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
          <a href="https://www.askapollo.com/physical-appointment/city/bhubaneswar" class="button-white banner-button w-button"
            >Book appointment</a
          >
        </div>
        <div class="right_home_content">
          <img src="../static/img/right_home.png" />
        </div>
      </div>
    </div>
    <div class="second_container">
      <div class="content_cover_of_second_container">
        <div class="firstbox_second_container">
          <img src="../static/img/icon4.png" />
          <h2>satisfaction guaranteed</h2>
          <p>Lorem ipsum is simply dummy text of the printing</p>
        </div>
        <div class="secondbox_second_container">
          <img src="../static/img/icon5.png" />
          <h2>awesome technology</h2>
          <p>Lorem ipsum is simply dummy text of the printing</p>
        </div>
        <div class="thirdbox_second_container">
          <img src="../static/img/icon6.png" />
          <h2>professional dentist</h2>
          <p>Lorem ipsum is simply dummy text of the printing</p>
        </div>
      </div>
    </div>
    <div class="third_container">
      <div class="content_cover_of_third_container">
        <div class="left_third_container">
          <img src="../static/img/4.jpg" />
        </div>
        <d.. class="right_third_container">
          <div class="top_right_third_container">
            <b> <a href="">AboutUs</a></b>
            <h1>We care About Your Dental Health</h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
          <div class="bottom_right_third_container">
            <div class="sub_bottom_right_third_container">
              <div class="first_bottom_right_third_container">
                <img src="../static/img/vision.png" />
              </div>
              <div class="second_bottom_right_third_container">
                <h3>Our vision</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>
            </div>
            <div class="sub_bottom_right_third_container">
              <div class="first_bottom_right_third_container">
                <img src="../static/img/mission.png" />
              </div>
              <div class="second_bottom_right_third_container">
                <h3>Our mission</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
    <div class="fourth_container">
      <h1>Our Services</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="content_cover_of_fourth_container">
        <div class="firstbox box" class="box">
          <img src="../static/img/icon1.png"/>
          <h3>Root Canal (painless)</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="">ContactUs</a>
        </div>
        <div class="secondbox box" class="box">
          <img src="../static/img/icon1.png"/>
          <h3>Root Canal (painless)</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="">ContactUs</a>
        </div>
        <div class="thirdbox box" class="box">
          <img src="../static/img/icon1.png"/>
          <h3>Root Canal (painless)</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="">ContactUs</a>
        </div>
        <div class="fourthbox box" class="box">
          <img src="../static/img/icon1.png"/>
          <h3>Root Canal (painless)</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="">ContactUs</a>
        </div>
        <div class="fifthbox box" class="box">
          <img src="../static/img/icon1.png"/>
          <h3>Root Canal (painless)</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="">ContactUs</a>
        </div>
        <div class="sixthbox box" class="box">
          <img src="../static/img/icon1.png"/>
          <h3>Root Canal (painless)</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="">ContactUs</a>
        </div>
      </div>
    </div>
    <div class=" fifth_container">
      <h1>Our Experts</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class=" content_cover_of_fifth_container">
        <div class="doctor-container">
          <div class="doctor-image">
              <img src="../static/img/doc1.jpg" alt="Doctor Image">
          </div>
          <div class="doctor-name">
              <p>Dr. John Doe</p>
          </div>
      </div>
      <div class="doctor-container">
        <div class="doctor-image">
            <img src="../static/img/doc3.jpg" alt="Doctor Image">
        </div>
        <div class="doctor-name">
            <p>Dr. John Doe</p>
        </div>
    </div>
    <div class="doctor-container">
      <div class="doctor-image">
          <img src="../static/img/doc2.jpg" alt="Doctor Image">
      </div>
      <div class="doctor-name">
          <p>Dr. John Doe</p>
      </div>
    </div>
      </div>
    </div>
    <div class="fourth_container sixth_container">
      <h1>Latest Blog</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="content_cover_of_fourth_container content_cover_of_fourth_container">
        <div class="firstbox box doctor" class="box">
          <img src="https://cdn.pixabay.com/photo/2024/05/19/09/37/ai-generated-8772169_640.png"/>
          <h3>Root Canal (painless)</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
         
        </div>
        <div class="secondbox box doctor" class="box">
          <img src="https://aighospitals.com/uploads/images/167386025063c5149a04cbc.jpg"/>
          <h3>Root Canal (painless)</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          
        </div>
        <div class="thirdbox box doctor" class="box">
          <img src="https://st3.depositphotos.com/13053202/31730/i/450/depositphotos_317306829-stock-photo-beauty-woman-make-selfie-photo.jpg"/>
          <h3>Root Canal (painless)</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-container">
          <!-- Logo and Description -->
          <div class="footer-logo-description">
              <img src="logo.png" alt="Healthcare Logo">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
  
          <!-- Social Media Links -->
          <div class="footer-social-media">
              <h4>Follow Us</h4>
              <ul>
                  <li><a href="https://facebook.com">Facebook</a></li>
                  <li><a href="https://instagram.com">Instagram</a></li>
                  <li><a href="https://twitter.com">Twitter</a></li>
                  <li><a href="https://linkedin.com">LinkedIn</a></li>
              </ul>
          </div>
  
          <!-- Quick Links -->
          <div class="footer-quick-links">
              <h4>Quick Links</h4>
              <ul>
                  <li><a href="#home">Home</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#services">Services</a></li>
                  <li><a href="#testimonials">Testimonial</a></li>
                  <li><a href="#blog">Blog</a></li>
                  <li><a href="#contact">Contact Us</a></li>
              </ul>
          </div>
  
          <!-- Clinic Hours -->
          <div class="footer-clinic-hours">
              <h4>Clinic Hours</h4>
              <p>Mon-Fri: 9:00 AM - 7:00 PM</p>
              <p>Saturday: Closed</p>
              <p>Sunday: Closed</p>
          </div>
      </div>
      <div class="footer-bottom">
          <p>Powered by <a href="https://webflow.com">Webflow</a></p>
          <p><a href="#license">License</a> | <a href="#changelog">Changelog</a> | <a href="#styleguide">Styleguide</a></p>
      </div>
  </footer>
  <script>
    window.embeddedChatbotConfig = {
    chatbotId: "fu-y-uNmlcoc1VFSYaXEj",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="fu-y-uNmlcoc1VFSYaXEj"
    domain="www.chatbase.co"
    defer>
    </script>
    
    <script src="../static/js/home.js"></script>
  </body>
</html>
